.button {
   padding: 0.5em 1em 0.5em 1em;
   border-radius: 5px;
   border: none;
   font-weight: bold;
   background-color: #ffffff;
   text-decoration: none;
   font-size: 0.8rem;
}

.button:hover {
   cursor: pointer;
}

.button-green { background-color: #00a130; color: #ffffff; }
.button-green:hover { background-color: #018f2c; }

.button-red { background-color: #cc0b0b; color: #ffffff; }
.button-red:hover { background-color: #b80f0f; }